<div class="mx-6 my-3 flex flex-row justify-between">

    <div class="flex flex-row items-center">
        <p class="font-bold text-cyan-900 select-none">Network CEM</p>
    </div>

    <div class="flex flex-row gap-3 items-center">
        <p class="text-sm mt-1">Search by:</p>

        <!-- radio search option group -->
        <div class="flex justify-center text-sm">
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                    type="radio" name="searchOptions" id="option1" value="address">
                <label class="form-check-label inline-block text-gray-800 mt-1" for="inlineRadio10">Address</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input  appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                    type="radio" name="searchOptions" id="option2" value="site_id">
                <label class="form-check-label inline-block text-gray-800 mt-1" for="inlineRadio20">Site
                    ID</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input  appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                    type="radio" name="searchOptions" id="option3" value="lat_long">
                <label class="form-check-label inline-block text-gray-800 mt-1" for="inlineRadio30">Lat-Long</label>
            </div>
        </div>

        <!-- search box -->
        <div class="flex justify-center">
            <div class="xl:w-60">
                <div class="input-group relative flex flex-wrap items-stretch w-full rounded">
                    <input type="search"
                        class="form-control relative flex-auto min-w-0 block w-full px-3 py-1 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-400 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                    <span
                        class="input-group-text flex items-center px-3 py-1 text-base font-normal text-gray-700 text-center whitespace-nowrap rounded"
                        id="basic-addon2">
                        <i class="bi bi-search"></i>
                    </span>

                </div>
            </div>
        </div>

    </div>
</div>