<div class="expand-row page-area">
    <!-- sidebar -->
    <div class="sidebar-area">
        <app-sidebar></app-sidebar>
    </div>


    <div class="main-area">
        <!-- navbar -->
        <nav class="bg-gradient-to-l to-cyan-700 from-cyan-600 drop-shadow-md">
            <app-navbar></app-navbar>
        </nav>


        <!-- search area -->
        <app-search-area></app-search-area>
        <hr class="mx-6 border-t-1 border-gray-400">



        <div class="expand-row">
            <div class="basis-9/12 grow flex-col">
                <!-- mini header -->
                <div class="ml-6 mr-3 my-3 expand-row justify-between">
                    <!-- header -->
                    <p class="font-bold text-cyan-900 select-none">
                        Service Status &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                        <span class="opacity-50 font-normal">Visualization Bin</span>
                    </p>
                    <!-- last update -->
                    <div class="expand-row justify-between gap-3">
                        <p class="text-cyan-900 font-medium">Last Update</p>
                        <!-- dropdown -->
                        <div class="flex justify-center">
                            <div>
                                <div class="dropdown relative">
                                    <button type="button" id="dropdownLastUpdate" (click)="openDropdown($event)" class="dropdown-toggle px-3 py-1 bg-white text-cyan-900 text-sm rounded shadow-md
                                                transition duration-150 ease-in-out whitespace-nowrap">
                                        Lorem ipsum dolor sit <i class="bi bi-chevron-down ml-4"></i>
                                    </button>
                                    <ul [ngClass]="{ hidden: !dropdown.isDropdownShown() }"
                                        class="dropdown-menu min-w-maxn absolute bg-white text-base py-2 mt-1 m-0
                                    float-left list-none text-left rounded-lg shadow-lg bg-clip-padding border-none z-40">
                                        <li><a href="#"
                                                class="dropdown-item text-sm py-1 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100">
                                                Lorem ipsum dolor sit amet.
                                            </a></li>
                                        <li><a href="#"
                                                class="dropdown-item text-sm py-1 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100">
                                                Lorem ipsum dolor sit amet.
                                            </a></li>
                                        <li><a href="#"
                                                class="dropdown-item text-sm py-1 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100">
                                                Lorem ipsum dolor sit amet.
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>



                <!-- map -->
                <app-map></app-map>

            </div>
            <!-- info panel -->
            <div class="info-area">
                <app-info-panel></app-info-panel>
            </div>


        </div>
    </div>
</div>