.page-area {
    min-height: 100vh;
    background-color: #F2F2F2;
}

.sidebar-area {
    flex-basis: 16.6667%;
    background-color: rgb(14 116 144);
}

.main-area {
    flex-grow: 1;
    flex-direction: column;
}

.info-area {
    flex-basis: 25%;
    margin-right: 1.5rem;
    margin-top: 00.75rem;
}

