<div class="flex flex-row h-screen" style="background-color: #f5f5f7;">
    <!-- sidebar -->
    <div class="basis-1/6 bg-cyan-600">
        <app-sidebar class=""></app-sidebar>
    </div>


    <div class="grow bg-purple-400 flex-col">
        <!-- navbar -->
        <nav class="bg-amber-400 h-14">
            <app-navbar></app-navbar>
        </nav>


        <!-- search area -->
        <div class="bg-teal-400 h-11">search bar</div>


        <div class="flex flex-row">
            <div class="grow bg-orange-500 flex-col">
                <!-- mini header -->
                <div class="bg-red-400 h-14">mini header</div>


                <!-- map -->
                <div class="flex flex-row grow bg-orange-400 ">map</div>


            </div>
            <!-- info panel -->
            <div class="basis-3/12 bg-zinc-500">info panel</div>


        </div>
    </div>
</div>