<div class="flex flex-row h-screen" style="background-color: #f5f5f7;">
    <!-- sidebar -->
    <div class="basis-1/6 bg-cyan-700">
        <app-sidebar class=""></app-sidebar>
    </div>


    <div class="grow flex-col">
        <!-- navbar -->
        <nav class="bg-gradient-to-l to-cyan-700 from-cyan-600 drop-shadow-md">
            <app-navbar></app-navbar>
        </nav>


        <!-- search area -->
        <!-- <div> -->
        <app-search-area></app-search-area>
        <!-- </div> -->


        <div class="flex flex-row">
            <div class="grow bg-orange-500 flex-col">
                <!-- mini header -->
                <div class="bg-red-400 h-14">mini header</div>


                <!-- map -->
                <div class="flex flex-row grow bg-orange-400 ">map</div>


            </div>
            <!-- info panel -->
            <div class="basis-3/12 bg-zinc-500">info panel</div>


        </div>
    </div>
</div>