<!-- logo -->
<div class="flex justify-center pt-6">
    <div class="grid grid-grows">
        <i class="bi bi-terminal text-5xl text-white flex justify-center"></i>
        <p class="text-2xl font-bold text-white flex justify-center mt-1 select-none">MINDS</p>
        <p class="flex justify-center text-center mx-2 text-white font-thin leading-tight mt-1">
            Mobile Intelligent Network Diagnostic System
        </p>
    </div>
</div>


<!-- butang -->
<div class="mt-10 grid">
    <app-sidebarbtn>
        <i class="bi bi-reception-4 text-lg mr-2"></i>
        Network CEM
    </app-sidebarbtn>
    <app-sidebarbtn>
        <i class="bi bi-person-square text-lg mr-2"></i>
        Subscriber Profiling
    </app-sidebarbtn>
    <app-sidebarbtn>
        <i class="bi bi-file-earmark-text text-lg mr-2"></i>
        Report
    </app-sidebarbtn>
</div>


<!-- light/dark mode -->
<div style="height: 20vmax;"></div>


<!-- trademark -->
<hr class="border-t border-white opacity-40">
<div class="mt-6 text-sm text-slate-300 text-center select-none">
    <p><span class="font-medium">Innovation by</span><br>TM Research & Development</p>
</div>


<!-- version -->
<div class="mt-10 text-slate-300 text-center text-sm select-none">
    <p>V{{ app_version }}</p>
    <p>MINDS 2022</p>
</div>